.App {
  margin-inline: auto;
  max-width: 1000px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.controlGroup {
  display: flex;
  gap: 10px;
}

.button {
  height: 32px;
  border-radius: 5px;
  border: solid 1px black;
  background: white;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  padding-inline: 10px;
  cursor: pointer;
}

.button:hover {
  transform: scale(0.97);
  transition: transform 0.1s linear;
}

.button.active {
  background: black;
  color: white;
}

.Board {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  box-sizing: content-box;
}

.Cell {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
}

.alive {
  background: black;
}

.dead {
  background: white;
}
